<form action="/show" method="POST">
	Search: <input id="input2" type="text" name="showName" placeholder="Enter to search..."/>
	Name: <select name="showType" id="show">
			<option class="showList" value="0">Shows</option>
		</select>
</form>